$color-one: #E27D60;
$color-two: #7AC6C3;
$color-three: #E8A87C;
$color-four: #C38D9E;
$color-five: #41B3A3;

.mid-background {
  background-color: $color-two;
}

.size-big {
  width: 300px;
}

.username {
  display: inline-block;
  width: 160px;
  text-align: center;
}
.ready {
  background-color: $color-two;
}
.pending {
  background-color: $color-one;
}
.ready .pending {
  display: inline-block;
  width: 80px;
  text-align: center;
}
