@import 'colors';

.cities-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.city {
  margin-left: 5px;
}

.city-name {
  text-align: left;
  display: inline-block;
}

.blue-city {
  border: 0.5em solid $blue;
}

.red-city {
  border: 0.5em solid $red;
}

.yellow-city {
  border: 0.5em solid $yellow;
}

.black-city {
  border: 0.5em solid $black;
}
