@import 'colors';

.blue-city {
  border: 0.5em solid $blue;
}

.red-city {
  border: 0.5em solid $red;
}

.yellow-city {
  border: 0.5em solid $yellow;
}

.black-city {
  border: 0.5em solid $black;
}
