$color-one: #E27D60;
$color-two: #7AC6C3;
$color-three: #E8A87C;
$color-four: #C4DFE6;
$color-five: #41B3A3;
$color-six: #E6D72A;
$stroke-color: white;
$blue: #30c5ff;
$black: black; // TODO - add correct color hex
$yellow: #30c5ff; // TODO - add correct color hex
$red: #30c5ff; // TODO - add correct color hex

$color: (
  body: #302e21,
  background: #605B56,
  backgroundLight: #837A75,
  knockout: #fff
);

