@import 'colors';

.blue-infections, .red-infections, .yellow-infections, .black-infections {
  opacity: 100;
}

.blue-infections {
  fill: $blue;
}

.red-infections {
  fill: $red;
}

.yellow-infections {
  fill: $yellow;
}

.black-infections {
  fill: $black;
}
