@import 'colors';

.hide-svg-component {
  opacity: 0;
  fill-opacity: 0;
  stroke-opacity: 0;
}

.blue-infections {
  opacity: 100;
  fill: $blue;
  fill-opacity: 100;
  stroke: $blue;
  stroke-width: 8;
  stroke-opacity: 50;
}
