@import 'invite';
@import 'infections';
@import 'roles';
@import 'cities';
@import 'colors';

$width: (
  md: 68.0%,
  sm: 32.0%,
  lg: 100.0%
);

.mid-background {
  background-color: $color-two;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

body {
  color: white;
  background-color: $black;
}

.list {
  text-align: left;
}

.no-gutters {
  padding-right: 0;
  padding-left: 0;
}

.shallow-gutters {
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 1em;
  margin-left: 1em;
}

.small-list-header {
  padding: 0%;
  margin: 0%;
  width: 100%;
}

.selected-game {
  background-color: $color-six;
}

.selected-game:hover {
  background-color: darken($color-six, 5%)
}

.not-selected-game {
  background-color: $color-four;
}

.not-selected-game:hover {
  background-color: darken($color-six, 5%)
}

.position-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

div#map {
  height: 70vh;
}

.w-lg {
  width: map-get($width, lg);
}

.w-md {
  width: map-get($width, md);
}

.w-sm {
  width: map-get($width, sm);
}

.username {
  display: inline-block;
  width: 160px;
  text-align: center;
}
.ready, {
  background-color: $color-two;
}

.pending {
  background-color: $color-one;
}

.ready .pending {
  display: inline-block;
  width: 80px;
  text-align: center;
}

.active {
  background-color: lighten($land, 15%);
}

.not-active {
  background-color: lighten($land, 30%);
}

.accepted {
  border: 0.5em solid $color-two;
}

.declined {
  border: 0.5em solid $color-one;
}

.inactive {
  border: 0.5em solid black;
}

.share-card {
  border: 1px solid $border;
  border-radius: 0.25em;
}

.bg-pandemic {
  background: map-get($color, background);
}

.accept-mark {
  background-color: $color-two;
}

.decline-mark {
  background-color: $color-one;
}

.accept-mark, .decline-mark {
  width: 49%;
}

.game-history-line-item {
  margin-bottom: 1%;
}

.btn, .accept-mark:hover, .decline-mark:hover, .game-history-line-item:hover {
  cursor: pointer;
}

.btn-signout {
  background-color: map-get($color, backgroundLight);
  border-color: map-get($color, backgroundLight);
  color: map-get($color, knockout);

  &:hover {
    background-color: darken(map-get($color, backgroundLight), 20%);
    border-color: darken(map-get($color, backgroundLight), 20%);
    color: map-get($color, knockout);
  }
}

div#action-menu, div#player-action-menu{
  // to avoid bugs dimension styles should be set inside models/ActionMenu.js
  // or models/PlayerActionMenu.js
  background-color: $blue;
  position: absolute;
  z-index: 100;
  border: 2px solid $border;
  border-radius: .25rem;
  padding: 0.5em;
  overflow: scroll;
  &::-webkit-scrollbar {
    width: 2px;
  }
}


div#share-card-notification {
  background-color: $blue;
  position: absolute;
  z-index: 100;
  border: 2px solid $border;
  border-radius: .25rem;
  top: 15%;
  padding: 0.5em;
  width: 80%;
  left: 10%;

}

.hide-svg-component {
  opacity: 0;
  fill-opacity: 0;
  stroke-opacity: 0;
}

.research-station-active {
  opacity: 100;
  fill-opacity: 100;
  fill: $research-station;
}

.disease-rectangle-black, .disease-rectangle-yellow, .disease-rectangle-red,
.disease-rectangle-blue {
  height: 50%;
  position: absolute;
  top: 25%;
  width: 20%;
  right: 10px;
}

.city-rectangle-black, .city-rectangle-yellow, .city-rectangle-red,
.city-rectangle-blue {
  display: inline-block;
  width: 20px;
  height: 10px;
  margin-right: .3em;
}

.disease-rectangle-black, .city-rectangle-black {
  background: $black;
}

.disease-rectangle-yellow, .city-rectangle-yellow {
  background: $yellow;
}

.disease-rectangle-red, .city-rectangle-red {
  background: $red;
}

.disease-rectangle-blue, .city-rectangle-blue{
  background: $blue;
}

.disease-button {
  position: relative;
}

.radius-small {
  border-radius: .25rem;
}

.players-summary {
  width: 25%;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
}
