$color-one: #E27D60;
$color-two: #7AC6C3;
$color-three: #E8A87C;
$color-four: #C38D9E;
$color-five: #41B3A3;

$color: (
  body: #302e21,
  background: #605B56,
  backgroundLight: #837A75,
  knockout: #fff
);

$width: (
  md: 68.0%,
  sm: 32.0%,
  lg: 100.0%
);

.mid-background {
  background-color: $color-two;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.position-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.w-lg {
  width: map-get($width, lg);
}

.w-md {
  width: map-get($width, md);
}

.w-sm {
  width: map-get($width, sm);
}

.username {
  display: inline-block;
  width: 160px;
  text-align: center;
}

.ready {
  background-color: $color-two;
}

.pending {
  background-color: $color-one;
}

.ready .pending {
  display: inline-block;
  width: 80px;
  text-align: center;
}

.margin-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-bottom2 {
  margin-bottom: 2em;
}

.bg-pandemic {
  background: map-get($color, background);
}

.btn-signout {
  background-color: map-get($color, backgroundLight);
  border-color: map-get($color, backgroundLight);
  color: map-get($color, knockout);

  &:hover {
    background-color: darken(map-get($color, backgroundLight), 20%);
    border-color: darken(map-get($color, backgroundLight), 20%);
    color: map-get($color, knockout);
  }
}
