#contingency-planner, #dispatcher, #medic, #researcher, #quarantine-specialist,
#scientist, #operations-expert {
  opacity: 100;
  fill-opacity: 100;
  stroke-width: 8;
  stroke-opacity: 100;
  stroke: white;
}

#contingency-planner {
  fill: #84cabf;
}

#dispatcher {
  fill: #e084a3;
}

#medic {
  fill: #adca38;
}

#researcher {
  fill: #4e3d1f;
}

#quarantine-specialist {
  fill: #094c39;
}

#scientist {
  fill: white;
}

#operations-expert {
  fill: #adca4c;
}
