.contingency-planer, .dispatcher, .medic, .researcher, .quarantine-specialist,
.scientist, .operations-expert {
  opacity: 100;
  fill-opacity: 100;
  stroke-width: 8;
  stroke-opacity: 100;
  stroke: white;
}

.contingency-planer {
  color: #84cabf;
  fill: #84cabf;
}

.dispatcher {
  color: #e084a3;
  fill: #e084a3;
}

.medic {
  color: #f68f2f;
  fill: #f68f2f;
}

.researcher {
  color: #4e3d1f;
  fill: #4e3d1f;
}

.quarantine-specialist {
  color: #06FED9;
  fill: #06FED9;
}

.scientist {
  color: white;
  fill: white;
}

.operations-expert {
  color: #adca4c;
  fill: #adca4c;
}
